@charset "utf-8";

.container-fluid {
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: auto;
    margin-left: auto
}

html {
    scroll-behavior: smooth!important
}
.carousel-indicators li {
    width: 10px;
    height: 11px;
    border-radius: 10px
}

.carousel-img01 {
    width: 52%
}

.carousel-img02 {
    width: 41%
}

.carousel-img03 {
    width: 42%
}

.carousel-img04 {
    width: 55%
}

.navbar-brand {
    float: left;
    height: 60px!important;
    padding: 0 15px!important;
    font-size: 18px;
    line-height: 20px
}

.flexslider-carousel {
    position: absolute!important;
    width: 36%!important;
    top: 62%!important;
    right: -86%!important
}

.flex-caption {
    width: 100%;
    padding: 2%;
    left: 0;
    bottom: 0;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    font-size: 14px;
    line-height: 18px;
    font-family: tajawalregular;
    margin-bottom: 0
}

li.css a {
    border-radius: 0
}

.flex-carousal {
    position: absolute;
    top: 66%;
    width: 100%;
    margin-left: 0;
    background-color: #0000004d;
    padding-bottom: 0;
    bottom: 11%
}

.flex-caption-ttle {
    font-family: merriweatherregular;
    font-size: 24px;
    padding-top: 4%
}

.navbar {
    position: fixed;
    z-index: 99999;
    background: #fff;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: .4s
}

.navbar-nav>li {
    float: left;
    margin-right: 25px
}

.brand-name {
    width: 80%;
    margin-top: -5%;
    transition: .4s
}

.bg-light {
    background-color: #fff!important
}

.navbar-light .navbar-nav .nav-link {
    font-family: tajawalregular;
    font-size: 20px;
    color: #000
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #174797
}

.carousel-item {
    animation: circle 2s;
    clip-path: circle(75%);
    width: 100%;
    margin-top: 5%
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 15%;
    left: 6%;
    z-index: 9999;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
    text-align: left
}

.carousel-caption h2 {
    font-family: merriweatherregular;
    font-size: 50px;
    text-transform: uppercase;
    color: #174797
}

.green-color {
    color: #a6ce39
}

.carousel-caption p {
    font-family: tajawalregular;
    color: #000;
    font-size: 18px;
    padding-top: 1%
}

.carousel-caption .btn.btn-outline-dark {
    font-family: tajawalregular;
    font-size: 16px;
    border-radius: 0;
    color: #000;
    letter-spacing: 2px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
    width: 20%;
    border-color: #000;
    position: relative!important;
    display: block;
    top: 0!important;
    left: 0!important;
    margin-top: 4%!important;
    margin-bottom: 0!important
}

.carousel-caption .btn.btn-outline-dark:hover {
    color: #fff;
    background-color: #174797;
    border-color: #174797
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 3px;
    background-color: #02489b
}

.carousel-indicators li {
    border: 1px solid #000;
    margin: 4px
}

.brand-toggle {
    display: none
}

#our-founder {
    display: none
}

#hide02,
#hide03 {
    display: none
}

.our-story-rect {
    width: 47%;
    margin-top: -8%;
    position: absolute
}

.our-story {
    margin-top: 0
}

.our-story-caption {
    padding-left: 0;
    display: flex;
    background-image: url(../images/our-story-bgi.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 5%
}

.our-story-caption h2 {
    position: relative;
    font-family: merriweatherregular;
    color: #eaeaea;
    font-size: 116px
}

.story-lft {
    width: 50%
}

.story-rft {
    width: 50%
}

.rft-cilrcle {
    margin-top: -11.5%;
    position: relative
}

.rft-caption .btn.btn-outline-dark {
    font-family: tajawalregular;
    border-radius: 0;
    color: #fff;
    border-color: #fff;
    font-size: 18px;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 8%;
    margin-top: 80%;
    margin-left: 32%
}

.rft-caption .btn.btn-outline-dark:hover {
    background-color: #a6ce39;
    border-color: #a6ce39;
    color: #fff
}

.our-story-slider .carousel-inner {
    width: 122%;
    margin-top: 29%
}

.carousel-control-prev {
    left: 0;
    top: -30%
}

.carousel-control-next {
    right: -22%;
    top: -30%
}

.rft-caption h3 {
    font-family: merriweatherregular;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 25%
}

.our-founder {
    background-color: #f4f4f4;
    margin-top: -4%
}

.founder-caption p {
    font-family: tajawalregular;
    font-size: 19px;
    color: #02489b;
    padding-left: 0
}

.founder-caption {
    padding-top: 0
}

.founders {
    padding: 5%
}

.founders h2 {
    font-family: merriweatherregular;
    font-size: 42px;
    color: #02489b;
    text-transform: uppercase;
    padding-top: 15%
}

.img-founder-1,
.img-founder-2 {
    position: relative
}

.founder1 h5,
.founder2 h5 {
    font-family: tajawalmedium;
    font-size: 26px;
    position: absolute;
    left: 36%;
    top: 1%
}

.founder1 p,
.founder2 p {
    font-family: tajawalregular;
    font-size: 16px;
    text-align: center
}

.our-brands {
    background-image: url(../images/our-brand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    margin-top: -4%
}

.our-brand-caption {
    text-align: center;
    padding: 5%;
    padding-bottom: 0
}

.our-brand-caption h3 {
    font-family: merriweatherbold;
    font-size: 38px;
    color: #a6ce39
}

.our-brand-caption p {
    font-family: tajawalregular;
    font-size: 22px;
    color: #fff
}

.our-brand-caption h4 {
    font-family: merriweatherbold;
    font-size: 38px;
    padding-top: 2%;
    color: #a6ce39
}

.brand-logo {
    padding-left: 10%;
    padding-right: 10%
}

.btn.btn-outline-secondary {
    font-family: tajawalregular;
    font-size: 18px;
    border-radius: 0;
    color: #fff;
    letter-spacing: 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    width: auto;
    margin-top: 3%;
    border-color: #fff
}
.show-hide-btn{
	text-align: center;
}
.btn.btn-outline-secondary:hover {
    background-color: #a6ce39;
    border-color: #a6ce39
}

#brand-toggle {
    display: none
}

.ellipse {
    margin-top: 12%
}

* {
    padding: 0;
    margin: 0
}

body {
    overflow-x: hidden
}

.collabration {
    background-image: url(../images/partner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.collabration-lft {
    padding-left: 19%;
    padding-top: 19%;
    padding-bottom: 19%
}

.collabration .heading {
    font-family: merriweatherregular;
    color: #fff;
    font-size: 14px;
    letter-spacing: 10px;
    text-transform: uppercase
}

.collabration .main-heading {
    font-size: 26px;
    text-transform: uppercase;
    color: #fff;
    font-family: merriweatherregular
}

.collabration .collabration-para {
    font-family: tajawalmedium;
    font-size: 18px;
    color: #fff
}

.collabration .collabration-subpara {
    font-family: merriweatherbold;
    color: #a6ce39;
    font-size: 22px;
    padding-bottom: 10%
}

.blue-rect {
    display: block;
    width: 5%;
    position: absolute;
    bottom: -6%
}

.collabration a.promise-btn {
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #fff;
    color: #fff!important;
    font-family: tajawalregular;
    font-size: 20px;
    cursor: pointer
}

.collabration-map {
    position: relative;
    margin-top: 0
}

.collarabtion-expand {
    padding-top: 6%!important;
    display: none
}

.col-list-title {
    font-family: tajawalmedium!important;
    font-size: 22px!important;
    color: #000!important;
    padding-top: 10%;
    padding-left: 2%
}

.col-list {
    font-family: tajawalmedium!important;
    font-size: 18px!important;
    color: #000!important;
    padding-right: 12%;
    padding-left: 6%
}

.expand-less-btn {
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #000;
    color: #fff;
    font-family: tajawalregular;
    font-size: 20px;
    background: #02489b;
    border-color: #02489b
}

.expand-less-btn:hover {
    background-color: #a6ce39;
    border-color: #a6ce39
}

.map-background {
    background-image: url(../images/map-bg.png);
    background-size: cover;
    background-repeat: no-repeat
}

#map svg {
    margin-top: 9%;
    margin-bottom: 6%;
    width: 65%;
    margin-left: 22%;
    padding-top: 5%;
    padding-bottom: 15%;
}

#map_outer svg {
    left: 127px!important;
    top: 97px!important;
    width: 100%
}

.contact {
    padding-top: 2%;
    background: #f7f7f7;
    padding-bottom: 3%
}

.contact-title {
    font-family: merriweatherregular;
    color: #000;
    font-size: 30px;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%
}

.btn.btn-outline-primary {
    font-family: tajawalregular;
    font-size: 18px;
    background-color: #a6ce39;
    color: #fff;
    border-color: #a6ce39;
    border-radius: 0;
	padding: 12px 32px 12px 32px;
}

.btn.btn-outline-primary:hover {
    background-color: #02489b;
    border-color: #02489b;
    color: #fff
}

.tab-content {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.footer {
    background-image: url(../images/footer-logo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 5%;
    padding-bottom: 1%
}

.img-footer-logo {
    width: 70%
}

.footer a,
.footer p {
    position: relative;
    font-family: tajawalregular;
    font-size: 14px;
    color: #fff
}

.footer p {
    padding-left: 20%
}

.img-location {
    position: absolute
}

.sub-footer a,
.sub-footer h6 {
    font-family: tajawalregular;
    font-size: 14px;
    text-align: center;
    color: #adb5d9;
    padding-top: 1%;
    padding-bottom: 1%
}

hr {
    border: .5px solid #f4f4f41f;
    width: 110%;
    margin-left: -5%
}

.social {
    width: 10%;
    margin-left: 4%
}
.update{
	text-align: right !important;
    padding-right: 2%;
    margin-top: -3.9%;
}
.star1{
	color: red;
    margin-left: -40%;
}
#validationCustom05{
	height: 230px !important;
}